body {
  margin: 0;
  font-family: Arial;
  background: #F8F9FA;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 8%;
  background: white;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #212529;
}

.navbar a.active {
  color: #0D6EFD;
  font-weight: bold;
  border-bottom: 2px solid #0D6EFD;
}

.logo {
  color: #0D6EFD;
  font-weight: bold;
}

.hero {
  background: #20C997;
  color: white;
  text-align: center;
  padding: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 50px 8%;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 20px;
  background: #212529;
  color: white;
}